<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <div class="flex bg-cover bg-no-repeat min-h-screen" style="background-image: url(images/home.jpg);">
        <div class="whole mx-20 my-10 w-full h-full text-white">


            <div class="navbar flex h-20 w-[100%] justify-center ">
                <div class="nav-1 flex items-center">
                    <a href="/"><img src="images\icon.png" alt=""></a>
                    <a href="/"><img src="images\Starter.png" alt=""></a>
                    <ul class="ml-8 text-ul items-center text-[#8AA4FF] text-2xl mx-5">
                        <li class=" items-center"><span>ARTICLES / BREAKING NEWS</span></li>
                    </ul>
                </div>
            </div>

